/wp-admin/
/wp-includes/
/wp-content/

/wp-content/plugins/index.php
/wp-content/themes/index.php
/index.php

/license.txt
/readme.html

/wp-*.php

/xmlrpc.php

/.env
/.env*
/*.ini

wp-config.php
wp-config*.php

.well-known
.htaccess
.htaccess*
.htpasswd

wp-cli.yml

*.log

*.sql
*.sql.gz
*.sql.zip
